QMenu {
    background-color: #252525;
    color: white;
    border: 1px solid #2c2c2c;
    border-radius: 4px;
}

QMenu::item {
    padding: 4px 10px;
    border-radius: 4px;
}

QMenu::item:selected {
    background-color: #303030;
}

QMenu::item::icon {
    margin-left: 10px;
}
