QListWidget {
    background-color: #252525;
    color: white;
    border: 1px solid #2c2c2c;
    min-width: 100px;
    border-radius: 4px;
}

QListWidget::item {
    padding: 2px 15px;
    border-radius: 4px;
}

QListWidget::item:selected {
    background-color: #303030;
}