QComboBox {
    padding: 2px;
    padding-left: 5px;
    background-color: #252525;
    color: white;
    border: 1px solid #3c3c3c;
    border-radius: 3px;
}

QComboBox:hover {
    background-color: #303030;
}

QComboBox::down-arrow {
    image: none;
    border: none;
}

QComboBox QAbstractItemView {
    padding: 4px;
    background-color: #252525;
    color: white;
    border: 1px solid #3c3c3c;
    border-radius: 4px;
}

QComboBox::drop-down {
    border: none;
}

QSpinBox {
    background-color: #252525;
    padding: 2px;
    color: white;
    border: 1px solid #3c3c3c;
    border-radius: 4px;
    min-width: 30px;
}

QSpinBox:hover {
    background-color: #303030;
}

QCheckBox::indicator {
    width: 20px;
    height: 20px;
}

QFrame#setting-frame {
    border: none;
    border-radius: 4px;
    background-color: #252525;
    padding: 4px;
}

QFrame#setting-frame:hover {
    background-color: #303030;
}
